# Node.js specific files
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.iml

# Build files
dist/
build/